---
layout: default
title: Política de Privacidade
---
.legal
  %h2 Política de Privacidade
  %h3
    NFe Garantida (
    %a(href='/') http://nfegarantida.com.br
    )
  %p Última Revisão: 29 de Janeiro de 2011
  .inner-content.text-page
    %p NFe Garantida ("Serviço") é uma aplicação hospedada na internet desenvolvida pela TINK! SOLUÇÕES E SISTEMAS DE INFORMAÇÃO LTDA ME., com nome de fantasia "tink!". Esta Política de Privacidade explica a coleta e uso de informações e dados pelo Serviço.
    %p A tink! respeita o seu direito de privacidade. Toda informação coletada pela NFe Garantida é usada para melhorar a experiência e qualidade do Serviço.
    %h3 Informações do Usuário
    %p Quando você se cadastra no site da NFe Garantida, nós coletamos informações como endereço de e-mail e dados de pagamento. Todos os planos vêm com um período de 30 dias de avaliação, e neste período não existe obrigatoriedade de informar dados sobre pagamento.
    %p Quando você registra uma conta no Serviço, nós coletamos informações como endereço de e-mail e vários outros campos que são preenchidos no perfil do usuário, como o nome. Esta informação é usada somente para identificação dentro do Serviço e para comunicação de e-mail entre o Serviço, sua equipe de suporte e você.
    %h3 Cookies
    %p Um cookie é uma pequena porção de dados que frequentemente inclui um identificador único e anônimo que é enviado ao seu navegador a partir do servidor de um site e é guardado dentro do seu computador.
    %p Cookies são requeridos para usar a NFe Garantida para identificar unicamente o seu navegador e as preferências de usuário enquanto estiver conectado ao Serviço. Nós usamos cookies não permanentes que duram até duas semanas, após isso você vai ser requerido a fazer nova conexão ao Serviço.
    %h3 Armazenamento de Dados
    %p A tink! utiliza serviços e estrutura de parceiros terceirizados para prover o equipamento, sistema, rede, armazenamento e outras tecnologias relacionadas para o bom funcionamento da NFe Garantida. Apesar da tink! ser a proprietária do código fonte, bancos de dados e todos os direitos da aplicação NFe Garantida, você retém todos os direitos sobre os seus dados.
    %h3 Segurança
    %p
      O Serviço é hospedado na estrutura de computação nas nuvens da Locaweb (
      %a(href='locaweb.com.br') http://locaweb.com.br
      ), o maior Data Center da América Latina. Para maiores informações sobre os seus servidores e política de gestão de segurança, por favor veja
      %a(href='http://www.locaweb.com.br/produtos/gestao-personalizada/gestao-seguranca.html') http://www.locaweb.com.br/produtos/gestao-personalizada/gestao-seguranca.html
    %h3 Discussões Privadas
    %p O serviço de suporte da NFe Garantida possibilita aos usuários a capacidade de criar discussões privadas ou públicas. Estas configurações encontram-se sobre a responsabilidade do site de suporte da NFe Garantida no local onde as informações estão publicadas. A tink! não pode ser responsabilizada por conteúdo publicado em outros sites.
    %h3 Divulgação
    %p A tink! pode revelar informações identificadas como pessoais sob circunstâncias especiais como para cumprir intimações legais quando ouver indícios de violação dos Termos de Serviço.
    %h3 Mudanças da Política de Privacidade
    %p A tink! se reserva o direito de atualizar esta política a qualquer momento sem aviso prévio. Qualquer mudança significativa a está política será enviada para todos os usuários através dos e-mails cadastrados.
    %h3 Contacte-nos
    %p Se ainda existe ainda alguma dúvida relacionada a Política de Privacidade, por favor contacte-nos pelo e-mail
    %a(href='mailto:nfegarantida@tink.com.br') nfegarantida@tink.com.br
