---
layout: default
title: Termos de Serviço
---
.legal
  %h2 Termos de Serviço
  %h3
    NFe Garantida (
    %a(href='/') http://nfegarantida.com.br
    )
  %p Última Revisão: 29 de Janeiro de 2011
  .inner-content.text-page
    %p
      Por se cadastrar no serviço NFe Garantida ("Serviço") ou qualquer outro serviço da tink!, você está concordando a estar debaixo dos termos e condições seguintes ("Termos de Serviço"). Quaisquer novas funcionalidades ou ferramentas que possam ser adicionadas ao Serviço atual estarão igualmente submissas a estes Termos de Serviço. Você pode encontrar e revisar a versão mais recente dos Termos de Serviço a qualquer momento em:
      %a(href='/tos') http://beta.nfegarantida.com.br/tos
      \. A tink! se reserva o direito de atualizar ou mudar os Termos de Serviço postando as suas atualizações no seu site. Recomenda-se a revisão constante dos Termos de Serviço para visualizar quaisquer atualizações ou mudanças que possam impactar você.
    %h3 Termos da Conta
    %ul
      %li Você precisa ser maior de 18 anos para utilizar este Serviço.
      %li Você precisa apresentar um endereço de e-mail válido e outras informações requeridas no processo de cadastro para efetivamente se cadastrar.
      %li Você é responsável por manter a sua senha segura. A tink! não pode e não será responsabilizada por qualquer perda ou dano proveniente de falha de segurança causada pela má gestão de segurança de conta e senha causados pelo usuário.
      %li Não é permitido em hipótese alguma a utilização do Serviço para qualquer propósito ilegal ou não autorizado, nem poderá o usuário no uso do Serviço, violar nenhuma lei municipal, estadual ou federal (incluindo mas não limitado a leis de direitos autorais) bem como as leis do Brasil.
      %li Você é responsável por toda atividade e conteúdo (dados, gráficos, fotos, links) que possam ser colocados em sua conta da NFe Garantida.
      %li É vetada a transmissão de worms ou virus ou qualquer código ou execussão de script de naturesa destrutiva.
      %li A quebra ou violação de qualquer dos Termos de Conta conforme determinado a critério exclusivo da tink! resultará na recisão imediata do Serviço.
    %h3 Condições Gerais
    %p
      Você precisa ler, concordar e aceitar todos os termos e condições contidas nestes Termos de Serviço e também com a
      %a(href='/privacidade') Política de Privacidade
      antes de você se tornar um usuário do Serviço NFe Garantida
    %ul
      %li Nós reservamos o direito de modificar ou terminar o serviço por qualquer razão sem aviso prévio a qualquer momento.
      %li Nós reservamos o direito de recusar a prestação de serviço para qualquer pessoa por qualquer razão a qualquer momento.
      %li O uso do Serviço é da sua conta e risco. O Serviço é fornecido "como está" e "como disponível" sem qualquer garantia de condição, expressa, implícita ou estatutária.
      %li A tink! não garante que o serviço será initerrupto, atempado, seguro ou livre de erros.
      %li A tink! não garante que os resultados que serão obtidos pelo uso do Serviço serão corretos ou confiáveis.
      %li Você entende que o seus Conteúdos (não incluindo informações de cartões de crédito), podem trafegar de forma não criptografada e involver (a) transmissões por várias redes; (b) mudanças para se conformar e adaptar a requisitos tecnicos de redes conectadas ou aparelhos. Informações de Cartões de Crédito são sempre criptografadas durante a transmissão através das redes.
      %li Nós podemos, mas não tem a obrigação, de remover Conteúdos ou Contas que contenham Conteúdo que nós determinemos em nosso critério exclusivo que é ilegal, ofensivo, ameaçador, calunioso, difamatório, pornográfico, obsceno ou censurável ou violem a propriedade intelectual de terceiros, ou os presentes Termos de Serviço.
      %li Você entende e concorda expressamente que a tink! não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, especiais, consequenciais ou exemplares, incluindo mas não limitado a, danos por lucros cessantes, boa-fé, uso, dados ou outras perdas intangíveis resultantes do uso ou incapacidade de usar o Serviço.
      %li Suporte técnico está disponível apenas para usuários de contas pagas e está apenas disponível através de e-mail ou forum do suporte técnico.
      %li Você concorda em não reproduzir, duplicar, copiar, vender, revender ou explorar qualquer parte do Serviço, o uso do Serviço, ou o acesso ao Serviço sem a expressa autorização por escrito da tink!
      %li Abuso verbal ou escrito de qualquer tipo (incluindo ameaças de abuso ou castigo) de qualquer cliente da NFe Garantida, funcionário da tink!, membro ou executivo irá resultar no encerramento imediato da conta.
      %li Nós não reivindicamos nenhum direito de propriedade intelectual sobre o Conteúdo fornecido para o Serviço NFe Garantida. Todo o Conteúdo que você enviar permanece seu. Você pode remover sua conta da NFe Garantida a qualquer momento excluindo sua conta. Isto também irá remover todos o Conteúdo armazenado no Serviço.
      %li O fracasso da tink! em exercer ou executar qualquer direito ou disposição dos Termos de Serviço não constituirá uma renúncia de tal direito ou disposição. Os Termos de Serviço constituem o acordo completo entre você e a tink! e regulam a utilização do Serviço, substituindo quaisquer contratos anteriores entre você e a tink! (incluindo, mas não limitado a, qualquer versão anterior dos Termos de Serviço).
      %li Você mantém a propriedade sobre todo o Conteúdo que você enviar para uma conta da NFe Garantida, no entanto, tornando sua conta compartilhada ou pública, você concorda em permitir que outras pessoas vejam seu conteúdo.
      %li A tink! não pré-seleciona ou pré-filtra o Conteúdo e está em seu exclusivo critério, recusar ou remover qualquer conteúdo que seja disponibilizado através do Serviço.
      %li Perguntas sobre os Termos de Serviço devem ser direcionadas para nfegarantida arroba tink ponto com ponto br.
    %h3 Pagamentos das Tarifas
    %ul
      %li Contas gratuitas não exigem o envio de nenhuma informação de cobrança
      %li Contas pagas terão a emissão da cobrança por boleto bancário ou cartão de crédito em intervalos de 30 dias.
      %li Contas inadimplentes tem 5 dias para regularizar a sua situação financeira junto ao Serviço.
      %li Não existe cobrança de juros sobre pagamentos atrasados, apenas o cancelamento da Conta será assumido em uma conta inadimplente.
    %h3 Cancelamento
    %ul
      %li Você pode cancelar sua conta a qualquer momento através do e-mail nfegarantida@tink.com.br
      %li Uma vez cancelada a sua conta todo o seu Conteúdo será imediatamente apagado do Serviço. Sabendo que a remoção de todos os dados é final, pedimos que considere que tenha certeza absoluta que deseja cancelar sua conta antes desta ação.
      %li Se você cancelar o Serviço no meio de um mês, você passará a não mais receber cobranças mensais.
      %li A tink! reserva o direito de modificar ou cancelar o Serviço da NFe Garantida por qualquer motivo sem aviso prévio a qualquer momento.
      %li Fraude: Sem limitação de quaisquer outros recursos, a tink! poderá suspender ou encerrar sua conta, se suspeitar que você (por condenação, liquidação, custódia de seguros ou de inquérito, ou outra) se envolveram em atividades fraudulentas em conexão com o Serviço.
    %h3 Modificações do Serviço e Preços
    %ul
      %li Preços para utilizar a NFe Garantida estão sujeitos a mudança com 15 dias de antecedência da tink! Esta notícia poderá acontecer a qualquer momento através de comunicação enviada ao e-mail cadastrado na conta bem como atualização dos preços no Site do Serviço.
      %li A tink! reserva o direito de a qualquer momento modificar ou descontinuar o Serviço ou parte dele com ou sem aviso prévio.
      %li A tink! não pode ser responsábilizada perante si ou qualquer terceira parte por qualquer modificação, alteração de preços, suspensão ou interrupção do serviço.
