.rule
%ul.highlights.clearfix
  %li.highlight-lighthouse
    %h2
      %a(href='http://www.facebook.com/pages/NFe-Garantida/136384559758179') Recomende-nos no Facebook &raquo;
    %p 
      Se você gostou desse produto, comparilhe com seus amigos no Facebook e outras redes sociais
    %p
      %script(src='http://connect.facebook.net/en_US/all.js#xfbml=1')
      <fb:like href="http://www.facebook.com/pages/NFe-Garantida/136384559758179" layout="button_count" show_faces="true" width="450" action="recommend" font="segoe ui"></fb:like>
  %li.highlight-twitter
    %h2
      %a(href='http://twitter.com/nfegarantida') Siga-nos no Twitter &raquo;
    %p Se você quer perguntar algo rapidamente ou se manter atualizado com o NFe Garantida, siga 
    %a(href='http://twitter.com/nfegarantida') @nfegarantida
